<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RideApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E53EB5F51D90BB5B00B7D0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53EB6091D90BB5B00B7D0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E53EB6141D90BB5C00B7D0EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
